<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="container center">
  <div id="HomeSection">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to A.C.E.S.</h1>
        <p class="lead">Some leading text about Aces and its site</p>
        <hr class="my-4">
        <p>Some text about Aces</p>
      </div>
  <div id="AboutSection">
  <h1>About Aces</h1>
  <div class="card left-card text-white bg-primary mb-3">
    <div class="card-header">Fact 1</div>
    <div class="card-body">
      <h4 class="card-title">Something important 1</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card left-card text-white bg-primary mb-3 ">
    <div class="card-header">Fact 2</div>
    <div class="card-body">
      <h4 class="card-title">Something important 2</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  
  <div id="ContactUsSection">
      <h1>Contact Us</h1>
      <app-contact-us></app-contact-us>
    </div>
  </div>
  </div>
</div>    
<app-footer></app-footer>